rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /minums/{id} {
      allow write, read: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.uid;
  	}
    
    match /users/{id} {
    allow write, read: if request.auth != null;
    }
	}
}