<div class="bg-loader">
    <div class="loader"></div>
</div>
<header>
    <div class="container">
            <h1><strong>Mau Minum</strong> </h1>
    </div>
</header>

<!-- service-->
<section class="service">
    <div class="container">
            <h3><strong>KONTAK</strong> </h3>
            <div class="box">
                    <div class="col-4">
                            <h4>Alamat</h4>
                            <p>Jl. Ringroad Selatan, Kragilan, Tamanan, Kec. Banguntapan, Bantul, Daerah Istimewa Yogyakarta 55191 </p>
                    </div>
                    <div class="col-4">
                        <h4>Email</h4>
                        <p>rayyan1900016052@webmail.uad.ac.id </p>
                </div>
                <div class="col-4">
                    <h4>Telp</h4>
                    <p>(021) 12345678 </p>
            </div>
            <div class="col-4">
                <h4>HP</h4>
                <p>08123456789 </p>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.589179932532!2d110.38093251450934!3d-7.833229579986121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5701a2ae1c23%3A0x173dbeeddc56d9e!2sUniversitas%20Ahmad%20Dahlan%20-%20Kampus%204!5e0!3m2!1sid!2sid!4v1624455877878!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    
    </div>
</section>

<!-- footer-->
<footer>
    <div class="container">
            <small>Copyright &copy; 2021 - Mau Minum. All Rights Reserved.</small>
    </div>
</footer>