<div class="bg-loader">
    <div class="loader"></div>
</div>


<!-- about-->
<section class="about">
    <div class="container">
            <h3><strong>TENTANG MAU MINUM</strong> </h3>
            <p>Mau Minum merupakan Cafe yang meneydiakan aneka <strong>Makanan cepat saji dan minuman dingin. </strong>.</p>
        </div>
</section>



<!-- footer-->
<footer>
    <div class="container">
            <small>Copyright &copy; 2021 - Mau Minum. All Rights Reserved.</small>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function(){
            $(".bg-loader").hide();
    })
</script>